{% extends 'base.html' %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}">
        {{ message }}
    </div>
    {% endfor %}
{% endif %}

{% endwith %}



<section class="w3-row-padding  ">
    <div class="w3-col m12">
        <div class="w3-card w3-round w3-white">
            <div class="w3-container w3-padding">

                {% include "dersler/01_python_nedir.html" ignore missing %}

                <hr>
                <div class="w3-bar w3-border w3-round">
                    <a href="#" class="w3-button">&#10094; Önceki</a>
                    <a href="#" class="w3-button w3-right">Sonraki &#10095;</a>
                </div>

            </div>
        </div>
    </div>
</section>


{% endblock %}